table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #4a6fa4;
  text-align: left;
}

th,
td {
  padding: 10px;
}

table .done {
  text-decoration: line-through;
}

table .overdue {
  color: red;
}
